.tel-input-wrapper{
  display: flex;
}

.flag-icon{
  margin-right: 15px;
  height: 16px;
  width: 20px;
  line-height: 16px;
}

.tel-input-wrapper input[type="tel"]{
  margin-left: 5px
}

.bc-phone-number-dropdown-menu {
  overflow-y: scroll;
  max-height: 10em;
}

.bc-phone-number-country-anchor {
  padding-left: 1em;
}

.bc-phone-number-country-icon {
  margin-right: 1em;
}

.bc-phone-number-flag {
  margin-right: 0.5em;
}
