<section class="tel-input-wrapper">
  <div class='tel-flag-wrapper' uib-dropdown uib-keyboard-nav>
    <button type="button" class="btn btn-default" type="button" uib-dropdown-toggle>
      <span class="flag-icon flag-icon-{{selectedCountry.iso2Code}}" ng-class="selectedCountry.iso2Code"></span>
      <i class="glyphicon glyphicon-chevron-down" style="font-size:8px"></i>
    </button>
    <ul class="uib-dropdown-menu bc-phone-number-dropdown-menu dropdown-menu" role="menu">
      <li ng-repeat="country in preferredCountries" ng-click="selectCountry(country)"
          ng-class="{active: isCountrySelected(country)}" role="menuitem">
        <a href="#" ng-click="$event.preventDefault()" class="bc-phone-number-country-anchor">
          <!-- <i class="glyphicon iti-flag bc-phone-number-country-icon" ng-class="country.iso2Code"></i> -->
          <i class="flag-icon flag-icon-{{country.iso2Code}}" ng-class="country.iso2Code"></i>
          <span ng-bind="country.name"></span>
        </a>
      </li>
      <li role="separator" class="divider" ng-show="preferredCountries && preferredCountries.length"></li>
      <li ng-repeat="country in allCountries" ng-click="selectCountry(country)"
          ng-class="" role="menuitem">
        <a href="#" ng-click="$event.preventDefault()" class="bc-phone-number-country-anchor">
          <i class="flag-icon flag-icon-{{country.iso2Code}}" ng-class="country.iso2Code"></i>
          <span ng-bind="country.name"></span>
        </a>
      </li>
    </ul>
  </div>
  <input type="tel" class="form-control" ng-model="number" ng-disabled="ngDisabled" ng-change="changed()" placeholder="{{ngPlaceholder}}"/>
</section>
